/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
body {
    font-family: 'Inter', sans-serif;
    background-color: #F8FAFC;
}

.hero-section {
    background-color: #10172A;
    background-image: linear-gradient(to bottom right, rgba(16, 23, 42, 0.9), rgba(16, 23, 42, 0.7));
}

.hover-lift:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.75);
}
